<div style="text-align: center">
  <h2>Medical List</h2>
</div>
<a routerLink="/medical-create">Create</a>
<div class="d-flex">
  <input type="search" [(ngModel)]="nameSearch">
  <button type="submit" (click)="search(nameSearch)">Search</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Medical Code</th>
    <th>Patient Code</th>
    <th>Patient Name</th>
    <th>Start Day</th>
    <th>End Day</th>
    <th>Reason</th>
    <th>Treatments</th>
    <th>Doctor</th>

    <td colspan="2">Operation</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medical of medicalList | paginate:{itemsPerPage: 4, currentPage: p}; index as i">
    <th> {{(i + 1)}}</th>
    <td>{{medical.medicalCode}}</td>
    <td>{{medical.patient.patientCode}}</td>
    <td>{{medical.patientName}}</td>
    <td>{{medical.startDay}}</td>
    <td>{{medical.endDay}}</td>
    <td>{{medical.reason}}</td>
    <td>{{medical.treatments}}</td>
    <td>{{medical.doctor}}</td>
    <td><button type="button" class="btn btn-warning" [routerLink]="['/medical-edit',medical.id]">Edit</button></td>
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
              (click)="showDelete(medical)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="container navigation" style="display: flex;justify-content: center;margin-top: 10px">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!-- Modal delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa thông tin bệnh án: {{id}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Yes</button>
      </div>
    </div>
  </div>
</div>
