<nav class="navbar navbar-expand-lg navbar-dark "
     style="background-color: #046056;position: sticky;top: 0;z-index: 1;">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="menu">
          <ul class="sub-menu">
            <li class="item">
              <a href="#" class="title">CUSTOMER</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                   class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <ul class="list-menu">
                <li class="item-menu">
                  <a href="#" class="title-menu">List Customer</a>
                </li>
                <li class="item-menu">
                  <a href="#" class="title-menu">Create
                    Customer</a>
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="#" class="title">FACILITY</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                   class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <ul class="list-menu">
                <li class="item-menu">
                  <a href="#" class="title-menu">List Facility</a>
                </li>
                <li class="item-menu">
                  <a href="#" class="title-menu">Create
                    Facility</a>
                </li>
              </ul>
            </li>
            <li class="item">
              <a href="#" class="title">CONTACT</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                   class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <ul class="list-menu">
                <li class="item-menu">
                  <a href="#" class="title-menu">List Contact</a>
                </li>
                <li class="item-menu">
                  <a href="#" class="title-menu">Create
                    Contact</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
