<form novalidate [formGroup]="rfCreate">
  <div class="form-group">
    <label for="id">ID</label>
    <input
      type="text"
      class="form-control" id="id" formControlName="id">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.id.touched && rfCreate.controls.id?.errors?.required">Không được
    để trống</p>
  <p class="text-danger" *ngIf="rfCreate.controls.id?.hasError('pattern') && rfCreate.controls.id?.touched">ID phải
    có định dạng KH-xxxx với x là số</p>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control" id="name" formControlName="cusName">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.cusName?.touched && rfCreate.controls.cusName?.errors?.required">
    Không được để trống</p>
  <div class="form-group">
    <label for="date">Date Of Birth</label>
    <input
      type="date"
      class="form-control" id="date" formControlName="dateOfBirth">
  </div>
  <p class="text-danger"
     *ngIf="rfCreate.controls.dateOfBirth?.errors?.required && rfCreate.controls.dateOfBirth?.touched">không
    được để trống</p>
  <p class="text-danger"
     *ngIf="rfCreate.controls.dateOfBirth?.errors?.ageError && rfCreate.controls.dateOfBirth?.touched">Tuổi phải lớn hơn 18</p>
  <label>Gender: </label>
  <select formControlName="gender">
    <option value="">---chọn---</option>
    <option value="1">Nam</option>
    <option value="0">Nữ</option>
  </select>

  <p class="text-danger" *ngIf="rfCreate.controls.gender?.errors?.required && rfCreate.controls.gender?.touched">không
    được để trống</p>
  <p class="text-danger" *ngIf="rfCreate.controls.gender?.errors?.required && rfCreate.controls.gender?.untouched">không
    được để trống</p>
  <div class="form-group">
    <label for="idCard">Id Card</label>
    <input type="text" class="form-control" id="idCard" formControlName="idCard">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.idCard?.errors?.required && rfCreate.controls.idCard?.touched">không
    được để trống</p>
  <p class="text-danger" *ngIf="rfCreate.controls.idCard?.hasError('pattern') && rfCreate.controls.idCard?.touched">ID car phải
    có định dạng</p>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" formControlName="phone">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.phone?.errors?.required && rfCreate.controls.phone?.touched">không
    được để trống</p>
  <p class="text-danger" *ngIf="rfCreate.controls.phone?.hasError('pattern') && rfCreate.controls.phone?.touched">ID car phải
    có định dạng</p>
  <div class="form-group">
    <label for="email">Email: </label>
    <input type="text" class="form-control" id="email" formControlName="email">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.email?.errors?.required && rfCreate.controls.email?.touched">không
    được để trống</p>
  <p class="text-danger" *ngIf="rfCreate.controls.email?.errors?.email && rfCreate.controls.email?.touched">email không
    đúng định dạng</p>
  <div class="form-group">
    <label for="address">Address: </label>
    <input type="text" class="form-control" id="address" formControlName="address">
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.address?.errors?.required && rfCreate.controls.address?.touched">không
    được để trống</p>
  <div class="form-group">
    <label for="cusType">CustomerType: </label>
    <select id="cusType" formControlName = 'customerType'>
      <option value="">---chọn---</option>
      <option *ngFor="let customerType of cusTypeList" [ngValue]="customerType">{{customerType.name}}</option>
    </select>
  </div>
  <p class="text-danger" *ngIf="rfCreate.controls.customerType?.errors?.required && rfCreate.controls.customerType?.touched">không
    được để trống</p>
  <button type="submit" class="btn btn-primary" [disabled]="rfCreate.invalid" (click)="save()">Submit</button>
  <button type="submit" class="btn btn-primary"  routerLink="/customer">Back</button>
</form>
