<div class="input-group">
  <label for="id">Id</label>
  <input #id
    type="text"
    class="form-control" name="" id="id" aria-describedby="helpId" placeholder="">
</div>
<div class="input-group">
  <label for="name">Name</label>
  <input #name
         type="text"
         class="form-control" name="" id="name" aria-describedby="helpId" placeholder="">
</div>
<div class="input-group">
  <label for="salary">Salary</label>
  <input #salary
         type="text"
         class="form-control" name="" id="salary" aria-describedby="helpId" placeholder="">
</div>
<button type="button" class="btn btn-primary" (click)="craeteTeacher(id.value,name.value,salary.value)">Create</button>

